node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist/
build/
logs/
*.log
.DS_Store
.vscode/
.idea/
coverage/
cache/
artifacts/
typechain/

/src/generated/prisma
